.shape-divider {
    position: absolute;
    top: 0;
    right: -1px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    max-height: calc(100vh - 6rem);
    aspect-ratio: 16 / 27;
}

.shape-divider svg {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.shape-divider .shape-fill {
    fill: #FFFFFF;
}

.shape-divider-tablet {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shape-divider-tablet svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.shape-divider-tablet .shape-fill {
    fill: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1280px) {
    .shape-divider-tablet svg {
        width: calc(200% + 1.3px);
        height: 500px;
    }
}

.profile-picture {
    width: 8rem;
    aspect-ratio: 1 / 1;
    border-radius: 9999px;
    align-self: center;
    --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (min-width: 768px) {
    .profile-picture {
        width: 10rem;
    }
}

@media (min-width: 1280px) {
    .profile-picture  {
        width: min(12vw, 18vh);
    }
}
