@media (min-width: 1024px) {
    .theme-switch {
        width: min(1.8vw, 2.4vh) !important;
        height: min(1.8vw, 2.4vh) !important;
    }
}

.theme-switch {
    width: 3rem;
    height: 3rem;
}
