.icon-button {
    width: 1rem;
    height: 1rem;
}

.icon-button svg {
    stroke: rgba(0,0,0,.5);
}

@media (min-width: 1024px) {
    .icon-button {
        width: min(1.8vw, 2.4vh);
        height: min(1.8vw, 2.4vh);
    }
}
