@media (min-width: 1024px) {
    li a {
        font-size: min(1.4vw, 2.2vh);
    } 
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: rgb(55, 53, 47);
}

li a {
    font-weight: 300;
}

.thumbnail-text {
    color: #ffffff;
    font-weight: 700;
    font-size: min(0.8vw, 1.4vh);
    line-height: 1rem;
}
