.icon-button {
  width: 1.25rem;
  height: 1.25rem;
}

.icon-button svg { stroke: rgba(0, 0, 0, 0.5); }
.icon-button.facebook svg rect { fill: #3d5a98; }
.icon-button.github svg g { fill: #181616; }
.icon-button.telegram svg path { fill: #0088cc; }
.icon-button.linkedin svg path:nth-child(1) { fill: #0076b2; }
.icon-button.linkedin svg path:nth-child(2) { fill: #fff; }
.icon-button.instagram svg path { fill: #c13584; }
.icon-button.kaggle svg path { fill: #20beff; }

@media (min-width: 768px) {
  .icon-button {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .icon-button {
    width: min(1.8vw, 2.4vh);
    height: min(1.8vw, 2.4vh);
  }
}

.radial {
  position: relative;
}

.radial div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.radial small {
  color: rgba(0, 0, 0, 0.5);
}

.radial svg {
  transform: rotate(-90deg);
}

.radial svg circle {
  stroke-linecap: none;
  fill: transparent;
}
