---
import Layout from "../layouts/Layout.astro";

import "../styles/common.css";
import "../styles/typography.css";
---

<Layout name="404" title="404 — Page Not Found">
  <div class="scroll-none flex justify-center items-center stretch">
    <div class="container">
        <h1 class="font-extrabold text-8xl mb-4">404</h1>
		<small class="description">Page Not Found</small>
    </div>
  </div>
</Layout>
<style>
  .container {
    width: 100%;
    height: auto;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
