---
import Layout from '../layouts/Layout.astro';
---

<Layout name="EDUCATION" title="Anton Kozyriev / Education">
	<div class="flex justify-center items-center">
		<span>EDUCATION</span>
	</div>
</Layout>

<style>

</style>
