---
import Layout from '../layouts/Layout.astro';

import '../styles/common.css';
---

<Layout name="EDUCATION" title="Anton Kozyriev / Education">
	<div class="scroll-slide stretch"></div>
</Layout>

<style>

</style>
