---
import Layout from '../layouts/Layout.astro';
---

<Layout name="EXPERIENCE" title="Anton Kozyriev / Experience">
	<div class="flex justify-center items-center">
		<span>EXPERIENCE</span>
	</div>
</Layout>

<style>

</style>
