---
import Layout from '../layouts/Layout.astro';
---

<Layout name="PROFILE" title="Anton Kozyriev">
	<div class="flex justify-center items-center w-full h-full">
		<span>PROFILE</span>
	</div>
</Layout>

<style>

</style>
