---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout name="PORTFOLIO" title="Anton Kozyriev / Portfolio">
  <div class="flex stretch scroll-w snap-mandatory snap-x">
    <div
      class="snap-always snap-center flex flex-col stretch scroll-none flex-none"
    >
      <div class="flex justify-center md:items-center stretch">
        <ProjectCard
          projectLink="https://github.com/antonAce/data-science-courses"
          demoLink="https://data-science-courses.herokuapp.com"
          dateRange="September 2021 - November 2021"
          title="Data Science online courses"
          imageSrc="/assets/portfolio/wallpaper/dashboard.png"
          icons={[
            `<img src="/assets/portfolio/icons/python.svg" alt="Python icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/jupyter.svg" alt="Jupyter icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/apache-spark.svg" alt="Apache Spark icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/streamlit.svg" alt="Streamlit icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/pandas.svg" alt="Pandas icon" class="w-4 h-4 md:w-6 md:h-6" />`,
          ]}
          description="An interactive dashboard for popular online courses platforms analysis using Streamlit framework. The data was collected from popular online platforms: Coursera, Stepik, Udemy, edX, Pluralsight, Alison, FutureLearn, and Skillshare. My role in this project was to build web crawling bots for collecting data, build map-reduce data processing pipelines and create interactive dashboard for exploratory data analysis, data visualization and reporting."
        />
      </div>
    </div>
    <div
      class="snap-always snap-center flex flex-col stretch scroll-none flex-none"
    >
      <div class="flex justify-center md:items-center stretch">
        <ProjectCard
          projectLink="https://github.com/antonAce/in-a-word-bot"
          demoLink="https://t.me/in_a_word_bot"
          dateRange="February 2021 - Present"
          title="'In a word' Telegram bot"
          imageSrc="/assets/portfolio/wallpaper/in_a_word.png"
          icons={[
            `<img src="/assets/portfolio/icons/gcp.svg" alt="Google Cloud Platform icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/gcp-fn.svg" alt="Google Cloud Functions icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/python.svg" alt="Python icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/jupyter.svg" alt="Jupyter icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/pytorch.svg" alt="Pytorch icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/onnx.svg" alt="ONNX icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/telegram.svg" alt="Telegram icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/redis.svg" alt="Telegram icon" class="w-4 h-4 md:w-6 md:h-6" />`,
          ]}
          description="In a word bot is a simple Telegram bot for processing articles and massive texts (as a plain text, file, or URL) and generating summary using TF-IDF algorithm and Poiner-Generator Deep Learning model. My role in this project was to collect data, train a neural network for text summarization and wrap it in REST API service (which is compatible to the Telegram webhooks)."
        />
      </div>
    </div>
    <div
      class="snap-always snap-center flex flex-col stretch scroll-none flex-none"
    >
      <div class="flex justify-center md:items-center stretch">
        <ProjectCard
          projectLink="https://github.com/antonAce/gradient-descent"
          demoLink="https://colab.research.google.com/github/antonAce/adaptive-gradient-descent/blob/master/notebook/algorithms_overview.ipynb"
          dateRange="October 2020 - Present"
          title="Investigation of SGD and FD methods"
          imageSrc="/assets/portfolio/wallpaper/gradient_descent.png"
          icons={[
            `<img src="/assets/portfolio/icons/python.svg" alt="Python icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/jupyter.svg" alt="Jupyter icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/numpy.svg" alt="Numpy icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/pytorch.svg" alt="Pytorch icon" class="w-4 h-4 md:w-6 md:h-6" />`,
          ]}
          description="Stochastic gradient algorithms have become one of the most popular numerical optimization methods. In general, the convergence rate indicates the performance of the particular stochastic optimization method. The article investigates the inquired metric of stochastic finite-difference optimization methods on convex functions and highlights that it is not an entirely adequate measure of the optimization algorithm's quality in general."
        />
      </div>
    </div>
    <div
      class="snap-always snap-center flex flex-col stretch scroll-none flex-none"
    >
      <div class="flex justify-center md:items-center stretch">
        <ProjectCard
          projectLink="https://github.com/antonAce/triggergram"
          demoLink="https://triggergram.z16.web.core.windows.net"
          dateRange="August 2019 - Present"
          title="Triggergram"
          imageSrc="/assets/portfolio/wallpaper/triggergram.png"
          icons={[
            `<img src="/assets/portfolio/icons/azure.svg" alt="Azure icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/dotnetcore.svg" alt="Dotnetcore icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/python.svg" alt="Python icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/pytorch.svg" alt="Pytorch icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/react.svg" alt="React icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/redux.svg" alt="Redux icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/tailwind.svg" alt="Tailwind icon" class="w-4 h-4 md:w-6 md:h-6" />`,
          ]}
          description="Triggergram is an Instagram-like social network for uploading and sharing photos, commenting and communicating, that is build in top of the serverless architecture. My role in this project was to develop and maintain a serverless scalable architecture for the application."
        />
      </div>
    </div>
    <div
      class="snap-always snap-center flex flex-col stretch scroll-none flex-none"
    >
      <div class="flex justify-center md:items-center stretch">
        <ProjectCard
          projectLink="#"
          demoLink="https://t.me/coolengineer"
          dateRange="December 2017 - July 2018"
          title="'Practical Engineering' blog"
          imageSrc="/assets/portfolio/wallpaper/coolengineer.png"
          icons={[
            `<img src="/assets/portfolio/icons/telegram.svg" alt="Telegram icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/python.svg" alt="Python icon" class="w-4 h-4 md:w-6 md:h-6" />`
          ]}
          description="An open Telegram blog 'Practical Engineering' contains a variety of articles on topics of Innovations, IoT, AI, and Machine Learning. My role in this project was to write articles about IoT, differential equations, and Machine Learning."
        />
      </div>
    </div>
  </div>
</Layout>
