---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout name="PORTFOLIO" title="Anton Kozyriev / Portfolio">
  <div class="flex stretch scroll-w snap-mandatory snap-x">
    <div class="snap-always snap-center flex flex-col stretch scroll-none flex-none">
      <div class="flex justify-center items-center stretch">
        <ProjectCard
          projectLink="https://github.com/antonAce/data-science-courses"
          demoLink="https://data-science-courses.herokuapp.com"
          dateRange="September 2021 - November 2021"
          title="Data Science online courses"
          imageSrc="/assets/portfolio/dashboard.png"
          icons={[
            `<img src="/assets/portfolio/icons/python.svg" alt="Python icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/jupyter.svg" alt="Jupyter icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/apache-spark.svg" alt="Apache Spark icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/streamlit.svg" alt="Streamlit icon" class="w-4 h-4 md:w-6 md:h-6" />`,
            `<img src="/assets/portfolio/icons/pandas.svg" alt="Pandas icon" class="w-4 h-4 md:w-6 md:h-6" />`
          ]}
          description="An interactive dashboard for popular online courses platforms analysis using Streamlit framework. The data was collected from popular online platforms: Coursera, Stepik, Udemy, edX, Pluralsight, Alison, FutureLearn, and Skillshare. My role in this project was to build web crawling bots for collecting data, build map-reduce data processing pipelines and create interactive dashboard for exploratory data analysis, data visualization and reporting."
        />
      </div>
    </div>
    <div
      class="snap-always snap-center flex flex-col stretch scroll-none flex-none"
    >
    </div>
    <div
      class="snap-always snap-center flex flex-col stretch scroll-none flex-none"
    >
    </div>
    <div
      class="snap-always snap-center flex flex-col stretch scroll-none flex-none"
    >
    </div>
    <div
      class="snap-always snap-center flex flex-col stretch scroll-none flex-none"
    >
    </div>
  </div>
</Layout>
