---
import Layout from '../layouts/Layout.astro';
---

<Layout name="PROJECTS" title="Anton Kozyriev / Projects">
	<div class="flex justify-center items-center">
		<span>PROJECTS</span>
	</div>
</Layout>

<style>

</style>
