---
import NavBar from '../components/NavBar.astro';

import '../styles/typography.css';
import '../styles/common.css';
import '../styles/shapes.css';

export interface Props {
	name: string;
}

const { name } = Astro.props;
---

<div class="flex h-screen w-screen items-center justify-center p-12">
    <div class="slide">
        <div class="stretch bg-white rounded-lg">
            <div class="flex flex-row stretch">
                <div class="relative basis-1/3">
                    <div class="wallpaper">
                        <div style="background-image: url('/assets/wallpaper.jpg')"><img /></div>
                    </div>
                    <div class="shape-divider">
                        <svg id="visual" viewBox="0 0 530 895" width="530" height="895" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M302 900L510 0L530 0L530 900Z" fill="#ffffff" stroke-linecap="square" stroke-linejoin="bevel"></path></svg>
                    </div>
                </div>
                <div class="basis-2/3 p-4">
                    <div class="stretch">
                        <NavBar name={name} />
                        <main class="p-6 slide-content">
                            <slot />
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
	.wallpaper {
		max-width: calc((100vw - 6rem) / 3);
		max-height: calc(100vh - 6rem);
		aspect-ratio: 16 / 27;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('/assets/wallpaper.jpg');
		background-color: #D9D9D9;
	}

	.slide {
		box-shadow: 0 0 50px rgba(0,0,0,.1);
		aspect-ratio: 16 / 9;
		max-height: calc(100vh - 6rem);
		max-width: calc((100vh - 6rem) * 16 / 9);
		width: 100%;
	}

	.slide-content {
		width: 100%;
		height: calc(100% - 1.75rem);
	}
</style>
