---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: dark)">
		<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
		<meta name="description" property="og:description" content="I am a Ukrainian graduate student and a professional Machine Learning Engineer / Software Developer with 3+ of experience in both academic and enterprise. My development and research interests are Deep Learning, Natural Language Processing and Big Data. I am looking for a projects with unique and challenging tasks, discoveries, and friendly team members.">

		<meta property="og:title" content={title}>
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://antonkozyriev.me/">
		<meta property="og:locale" content="en">
		<meta property="og:image" content="https://antonkozyriev.me/assets/og_thumbnail.png">
		<meta property="og:image:alt" content="cv-card">
		<meta property="og:site_name" content="Anton Kozyriev. Machine Learning Engineer / Software Developer.">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="Anton Kozyriev. Machine Learning Engineer / Software Developer.">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content="I am a Ukrainian graduate student and a professional Machine Learning Engineer / Software Developer with 3+ of experience in both academic and enterprise. My development and research interests are Deep Learning, Natural Language Processing and Big Data. I am looking for a projects with unique and challenging tasks, discoveries, and friendly team members.">
		<meta name="twitter:image" content="https://antonkozyriev.me/assets/og_thumbnail.png">
		<meta name="twitter:image:alt" content="cv-card">

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'RedHatDisplay';
		src: url('/fonts/RedHatDisplay-Light.ttf') format('ttf');
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: 'RedHatDisplay';
		src: url('/fonts/RedHatDisplay-LightItalic.ttf') format('ttf');
		font-weight: 300;
		font-style: italic;
	}

	@font-face {
		font-family: 'RedHatDisplay';
		src: url('/fonts/RedHatDisplay-Regular.ttf') format('ttf');
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: 'RedHatDisplay';
		src: url('/fonts/RedHatDisplay-Italic.ttf') format('ttf');
		font-weight: 400;
		font-style: italic;
	}

	@font-face {
		font-family: 'RedHatDisplay';
		src: url('/fonts/RedHatDisplay-Bold.ttf') format('ttf');
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: 'RedHatDisplay';
		src: url('/fonts/RedHatDisplay-BoldItalic.ttf') format('ttf');
		font-weight: 700;
		font-style: italic;
	}

	* {
		font-family: 'RedHatDisplay', sans-serif;
	}
</style>
