---
import NavBar from '../components/NavBar.astro';

import '../styles/common.css';

export interface Props {
	name: string;
}

const { name } = Astro.props;
---

<div class="stretch p-8">
    <NavBar name={name} />
    <main class="p-6 slide-content">
        <slot />
    </main>
</div>
<style>
    .slide-content {
		width: 100%;
		height: calc(100% - 1.75rem);
	}
</style>
