---
import NavBarMobile from '../components/NavBarMobile.astro';

import '../styles/common.css';
import '../styles/shapes.css';

export interface Props {
	name: string;
}

const { name } = Astro.props;
---

<div class="w-screen h-screen">
    <div class="stretch slide-container p-4">
        <NavBarMobile name={name} />
        <main class="py-4 slide-content">
            <slot />
        </main>
    </div>
</div>
<style>
    .slide-content {
		width: 100%;
		height: calc(100% - 2rem);
	}

	html.dark .slide-container {
		background-color: var(--dark-secondary);
	}
</style>
